**Question 3: Explore and cluster the neighborhoods in Toronto**

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup  

import numpy as np
import os
from sklearn.cluster import KMeans
import folium 
from geopy.geocoders import Nominatim 
import matplotlib.cm as cm
import matplotlib.colors as colors

print('Libraries imported.')

Libraries imported.

In [0]:
List_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(List_url).text

In [0]:
soup = BeautifulSoup(source, 'xml')

In [0]:
table = soup.find('table')

In [0]:
# The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
column_names = ['PostalCode', 'Borough', 'Neighborhood']
df = pd.DataFrame(columns = column_names)

In [0]:
for tr_cell in table.find_all('tr'):
  row_data = []
  for td_cell in tr_cell.find_all('td'):
    row_data.append(td_cell.text.strip())
  if len(row_data)==3:
    df.loc[len(df)] = row_data

In [7]:
df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

**Data Cleaning**

Remove cells with a borough that is Not assigned.

In [0]:
df = df[df['Borough'] != 'Not assigned']

In [9]:
df[df['Neighborhood']=='Not assigned'] = df['Borough']
df.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

In [0]:
temp_df = df.groupby('PostalCode')['Neighborhood'].apply(lambda x: "%s" % ','.join(x))
temp_df=temp_df.reset_index(drop=False)
temp_df.rename(columns={'Neighborhood':'Neighborhood_joined'}, inplace=True)

In [0]:
df_merge = pd.merge(df, temp_df, on = 'PostalCode')

In [0]:
df_merge.drop(['Neighborhood'], axis = 1, inplace = True)

In [0]:
df_merge.drop_duplicates(inplace=True)

In [0]:
df_merge.rename(columns={'Neighborhood_joined': 'Neighborhood'}, inplace = True)

In [15]:
df_merge.head()

     PostalCode           Borough                     Neighborhood
0           M3A        North York                        Parkwoods
1           M4A        North York                 Victoria Village
2           M5A  Downtown Toronto                     Harbourfront
3           M6A        North York  Lawrence Heights,Lawrence Manor
5  Queen's Park      Queen's Park                     Queen's Park

In [16]:
df_merge.shape

(103, 3)

Get the latitude and longitude coordinates of a given postal code by running a while loop for each postal code

In [0]:
def get_geocode(postal_code):
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude, longitude

In [0]:
geo_df = pd.read_csv('http://cocl.us/Geospatial_data')

In [19]:
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

**Explore and cluster the neighborhoods in Toronto**

In [0]:
geo_df.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)
geo_merged = pd.merge(geo_df, df_merge, on = 'PostalCode')

In [21]:
geo_merged.head()

  PostalCode   Latitude  ...      Borough                          Neighborhood
0        M1B  43.806686  ...  Scarborough                         Rouge,Malvern
1        M1C  43.784535  ...  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  43.763573  ...  Scarborough       Guildwood,Morningside,West Hill
3        M1G  43.770992  ...  Scarborough                                Woburn
4        M1H  43.773136  ...  Scarborough                             Cedarbrae

[5 rows x 5 columns]

In [0]:
geo_data = geo_merged[['PostalCode', 'Borough', 'Neighborhood', 'Latitude', 'Longitude']]

In [23]:
geo_data.head()

  PostalCode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]

In [24]:
toronto_data = geo_data[geo_data['Borough'].str.contains("Toronto")]
toronto_data.head()

   PostalCode          Borough  ...   Latitude  Longitude
37        M4E     East Toronto  ...  43.676357 -79.293031
41        M4K     East Toronto  ...  43.679557 -79.352188
42        M4L     East Toronto  ...  43.668999 -79.315572
43        M4M     East Toronto  ...  43.659526 -79.340923
44        M4N  Central Toronto  ...  43.728020 -79.388790

[5 rows x 5 columns]

In [0]:
CLIENT_ID = 'QEF4SFROUUVOQKNPAFNNRDUW4ACAWSYYG312LM3BKEDDKPIZ' # your Foursquare ID
CLIENT_SECRET = 'CCBFW1WDVTUYDLPFX3SR0QBB5R2UKRYOZ3F1JDJ3PLQMPDRM' # your Foursquare Secret
VERSION = '20180604'

In [0]:
def getNearbyVenues(names, latitudes, longitudes):
    radius=500
    LIMIT=100
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
        
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [27]:
toronto_venues = getNearbyVenues(names=toronto_data['Neighborhood'],
                                   latitudes=toronto_data['Latitude'],
                                   longitudes=toronto_data['Longitude']
                                  )

The Beaches
The Danforth West,Riverdale
The Beaches West,India Bazaar
Studio District
Lawrence Park
Davisville North
North Toronto West
Davisville
Moore Park,Summerhill East
Deer Park,Forest Hill SE,Rathnelly,South Hill,Summerhill West
Rosedale
Cabbagetown,St. James Town
Church and Wellesley
Harbourfront
Ryerson,Garden District
St. James Town
Berczy Park
Central Bay Street
Adelaide,King,Richmond
Harbourfront East,Toronto Islands,Union Station
Design Exchange,Toronto Dominion Centre
Commerce Court,Victoria Hotel
Roselawn
Forest Hill North,Forest Hill West
The Annex,North Midtown,Yorkville
Harbord,University of Toronto
Chinatown,Grange Park,Kensington Market
CN Tower,Bathurst Quay,Island airport,Harbourfront West,King and Spadina,Railway Lands,South Niagara
Stn A PO Boxes 25 The Esplanade
First Canadian Place,Underground city
Christie
Dovercourt Village,Dufferin
Little Portugal,Trinity
Brockton,Exhibition Place,Parkdale Village
High Park,The Junction South
Parkdale,Roncesvalles
Runnymede,Swansea
Business Reply Mail Processing Centre 969 Eastern
Queen's Park

In [28]:
toronto_venues.head()

  Neighborhood  Neighborhood Latitude  ...  Venue Longitude        Venue Category
0  The Beaches              43.676357  ...       -79.293942                 Trail
1  The Beaches              43.676357  ...       -79.297734     Health Food Store
2  The Beaches              43.676357  ...       -79.297215                   Pub
3  The Beaches              43.676357  ...       -79.294784  Other Great Outdoors
4  The Beaches              43.676357  ...       -79.292869          Neighborhood

[5 rows x 7 columns]

In [29]:
toronto_venues.groupby('Neighborhood').count()

                                                    Neighborhood Latitude  ...  Venue Category
Neighborhood                                                               ...
Adelaide,King,Richmond                                                100  ...             100
Berczy Park                                                            55  ...              55
Brockton,Exhibition Place,Parkdale Village                             22  ...              22
Business Reply Mail Processing Centre 969 Eastern                      16  ...              16
CN Tower,Bathurst Quay,Island airport,Harbourfr...                     15  ...              15
Cabbagetown,St. James Town                                             43  ...              43
Central Bay Street                                                     84  ...              84
Chinatown,Grange Park,Kensington Market                                94  ...              94
Christie                                                               17  ...              17
Church and Wellesley                                                   83  ...              83
Commerce Court,Victoria Hotel                                         100  ...             100
Davisville                                                             35  ...              35
Davisville North                                                        9  ...               9
Deer Park,Forest Hill SE,Rathnelly,South Hill,S...                     15  ...              15
Design Exchange,Toronto Dominion Centre                               100  ...             100
Dovercourt Village,Dufferin                                            17  ...              17
First Canadian Place,Underground city                                 100  ...             100
Forest Hill North,Forest Hill West                                      4  ...               4
Harbord,University of Toronto                                          38  ...              38
Harbourfront                                                           50  ...              50
Harbourfront East,Toronto Islands,Union Station                       100  ...             100
High Park,The Junction South                                           25  ...              25
Lawrence Park                                                           4  ...               4
Little Portugal,Trinity                                                57  ...              57
Moore Park,Summerhill East                                              3  ...               3
North Toronto West                                                     22  ...              22
Parkdale,Roncesvalles                                                  14  ...              14
Rosedale                                                                4  ...               4
Roselawn                                                                2  ...               2
Runnymede,Swansea                                                      36  ...              36
Ryerson,Garden District                                               100  ...             100
St. James Town                                                        100  ...             100
Stn A PO Boxes 25 The Esplanade                                        96  ...              96
Studio District                                                        38  ...              38
The Annex,North Midtown,Yorkville                                      20  ...              20
The Beaches                                                             5  ...               5
The Beaches West,India Bazaar                                          21  ...              21
The Danforth West,Riverdale                                            41  ...              41

[38 rows x 6 columns]

In [30]:
# one hot encoding
toronto_onehot = pd.get_dummies(toronto_venues[['Venue Category']], prefix="", prefix_sep="")
toronto_onehot.drop(['Neighborhood'],axis=1,inplace=True) 
toronto_onehot.insert(loc=0, column='Neighborhood', value=toronto_venues['Neighborhood'] )
toronto_onehot.shape

(1685, 232)

In [31]:
toronto_grouped = toronto_onehot.groupby('Neighborhood').mean().reset_index()
toronto_grouped.head()

                                        Neighborhood  ...  Yoga Studio
0                             Adelaide,King,Richmond  ...     0.000000
1                                        Berczy Park  ...     0.000000
2         Brockton,Exhibition Place,Parkdale Village  ...     0.045455
3  Business Reply Mail Processing Centre 969 Eastern  ...     0.000000
4  CN Tower,Bathurst Quay,Island airport,Harbourf...  ...     0.000000

[5 rows x 232 columns]

In [0]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [33]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = toronto_grouped['Neighborhood']

for ind in np.arange(toronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

                                        Neighborhood  ... 10th Most Common Venue
0                             Adelaide,King,Richmond  ...       Asian Restaurant
1                                        Berczy Park  ...                 Bistro
2         Brockton,Exhibition Place,Parkdale Village  ...           Intersection
3  Business Reply Mail Processing Centre 969 Eastern  ...             Smoke Shop
4  CN Tower,Bathurst Quay,Island airport,Harbourf...  ...           Airport Gate

[5 rows x 11 columns]

**Making Clusters for Neighborhood**

In [34]:
# set number of clusters
kclusters = 5

toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [35]:
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

toronto_merged = toronto_data

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
toronto_merged = toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

toronto_merged.head()

   PostalCode          Borough  ... 9th Most Common Venue  10th Most Common Venue
37        M4E     East Toronto  ...      Doner Restaurant                 Dog Run
41        M4K     East Toronto  ...                   Pub             Pizza Place
42        M4L     East Toronto  ...         Burrito Place    Fast Food Restaurant
43        M4M     East Toronto  ...               Brewery             Cheese Shop
44        M4N  Central Toronto  ...   Dumpling Restaurant              Donut Shop

[5 rows x 16 columns]

In [36]:
neighborhoods_venues_sorted.head()

   Cluster Labels  ... 10th Most Common Venue
0               0  ...       Asian Restaurant
1               0  ...                 Bistro
2               0  ...           Intersection
3               0  ...             Smoke Shop
4               0  ...           Airport Gate

[5 rows x 12 columns]

In [37]:
address = 'Toronto, CA'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Manhattan are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Manhattan are 43.653963, -79.387207.

In [0]:
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(toronto_merged['Latitude'], toronto_merged['Longitude'], toronto_merged['Neighborhood'], toronto_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters